@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.loading-card-skeleton {
    animation: shimmer 1s linear infinite;
    background-size: 400%;
    background-image: linear-gradient(to right, #282E33 0%, #282E33 30%, #d9d9d9 45%, #d9d9d9 50%, #282E33 60%, #282E33 100%);
    border-radius: inherit;
}

@keyframes shimmer {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0;
    }
}

.cls-1 {
    opacity: 0.15;
}

.cls-2 {
    fill: #4c43f0;
}

.cls-3 {
    fill: #f2f2f2;
}

.cls-4 {
    fill: #e2e2e2;
}

.cls-5 {
    opacity: 0.1;
}

.cls-6 {
    fill: #ffe131;
}

.cls-7 {
    opacity: 0.05;
}

svg {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: visible;
}

#wand {
    animation: magic 4s ease infinite;
}

@keyframes magic {

    0% {
        transform: rotate(0deg) translateX(0px) rotate(0deg) scale(1);
        transform-origin: 50% 50%;
    }

    15% {
        transform: rotate(0deg) translateX(50px) rotate(0deg) scale(1);
        transform-origin: 50% 50%;
    }

    70% {
        transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1);
        transform-origin: 50% 50%;
    }

    77% {
        transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(0.9);
        transform-origin: 50% 50%;
    }

    80% {
        transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1);
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg) translateX(0px) rotate(-360deg) scale(1);
        transform-origin: 50% 50%;
    }
}

#star1 {
    animation: twinkle 4s ease infinite;
}

@keyframes twinkle {

    0% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 40%;
    }

    77% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 40%;
    }

    82% {
        transform: scale(1.2);
        opacity: 1;
        transform-origin: 60% 40%;
    }

    87% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 40%;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 40%;
    }
}

#star2 {
    animation: twinkle2 4s ease infinite;
}

@keyframes twinkle2 {

    0% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 40%;
    }

    82% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 40%;
    }

    87% {
        transform: scale(1.2);
        opacity: 1;
        transform-origin: 60% 40%;
    }

    92% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 40%;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 40%;
    }
}

#star3 {
    animation: twinkle3 4s ease infinite;
}

@keyframes twinkle3 {

    0% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 60%;
    }

    87% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 60%;
    }

    92% {
        transform: scale(1.2);
        opacity: 1;
        transform-origin: 60% 60%;
    }

    97% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 60%;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 60%;
    }
}

#star4 {
    animation: twinkle4 4s ease infinite;
}

@keyframes twinkle4 {

    0% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 60%;
    }

    92% {
        transform: scale(0);
        opacity: 0;
        transform-origin: 60% 60%;
    }

    97% {
        transform: scale(1.2);
        opacity: 1;
        transform-origin: 60% 60%;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        transform-origin: 60% 60%;
    }
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }

    .flex-column, .navbar-brand {
        padding-left: env(safe-area-inset-left);
    }
}
