@page "/articlepage/{articleid}"
@inject INewsService newsInject

@if(_article is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div>
    <img src="@_article.ImageURL" height="300" style="width: 100%">
    <p  style="margin: 10px 20px 0 10px; font-size: 26px; font-family:'NotoSerif-Bold';"> @_article.Title </p>
    <div style="display:inline; margin: 10px 20px 0 10px;"> 
        <span class="material-symbols-outlined" style="color:gray">account_circle</span>
        <p style="color:gray">@_article.PublishDate.ToString("f")</p>
    </div>
    <p style="text-align: justify; text-justify: auto; margin: 0 20px 0 10px; font-size:16px"> @_article.Text </p>
    </div>
}

@code {

    [Parameter]
    public int ArticleId { get; set; }
    private Article _article;

    protected async override Task OnParametersSetAsync()
    {
        _article = newsInject.GetThrendArticles().FirstOrDefault(article => article.Id == ArticleId);
    }
}
