@page "/articlepage/{articleid}"
@inject INewsService newsInject

@if(_article is null)
{
    <div style="  display: flex;justify-content: center;align-items:center; flex-direction:column">
        <div class="loading-card-skeleton loading-description" style="width:100%; height:300px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:90%; height:50px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:95%; height:20px;
            padding: 10px; border-radius: 5px;"></div>
        <div style="margin:10px;" />
        <div class="loading-card-skeleton loading-description" style="width:95%; height:300px;
            padding: 10px; border-radius: 5px;"></div>
    </div>
}
else
{
    <div>
    <img src="@_article.Image" height="300" style="width: 100%">
        <p style="margin: 10px 20px 0 10px; font-size: 26px; font-family: 'Noto Serif', serif;">
        @_article.Title
    </p>
    <div style="display: flex; margin: 10px 20px 0 10px;"> 
        <span class="material-symbols-outlined" style="color:#C8C8C8; font-size:35px">account_circle</span>
        <div>
            <p style="color:#C8C8C8; margin-left: 10px; margin-top: -5px">Редактор</p>
            <p style="color:#C8C8C8; margin-left: 10px; margin-top: -20px;">@_article.PublishTime?.ToString("f")</p>
        </div>
    </div>
        <p style="text-align: justify; text-justify: auto; margin: 0 20px 0 10px; font-size:16px; white-space: pre-wrap;"> 
            @_article.Text 
        </p>
    </div>
    <hr/>
    <p style="color: #C8C8C8; margin-left: 10px;">	&copy; 2023 Copyright. All Rights Reserved.</p>
}

@code {

    [Parameter]
    public Guid ArticleId { get; set; }
    private ArticleViewModel _article;

    protected async override Task OnParametersSetAsync()
    {
        _article = newsInject.GetThrendArticlesFull().FirstOrDefault(article => article.ArticleId == ArticleId);
        //_article = null;
    }
}
