<div style="background-color: @_background">
<h3 style="text-align:center; color: @_font; padding-top: 15px">Политика конфиденциальности</h3>
<p style="text-align: justify; text-justify: auto; margin: 0 20px 0 10px; font-size:16px; white-space: pre-wrap;  color: @_font ">
    Последнее обновление: 2.10.2023

   Данное Политика конфиденциальности (далее – "Политика") описывает, как мы, NewsAppStudio ("Мы", "Наш" или "Наши"), собираем, используем и раскрываем ваши личные данные в связи с вашим использованием нашего приложения для публикации новостей (далее – "Приложение").
    Прочтите эту Политику внимательно, чтобы полностью понять наши практики в отношении ваших личных данных, и если у вас есть какие-либо вопросы, обращайтесь к нам по адресу [контактная информация]. Ваше использование Приложения означает ваше согласие с нашей Политикой конфиденциальности.

    1. Собираемые данные

    1.1. Личные данные: Мы можем собирать следующие категории ваших личных данных:
    Имя, адрес электронной почты и другая контактная информация, которую вы предоставляете при регистрации и использовании Приложения.
    Информация, которую вы отправляете или публикуете в Приложении, включая новости, комментарии и другие материалы.
    Информация о вашем устройстве и интернет-соединении, такая как IP-адрес, идентификатор устройства и браузер.
    1.2. Информация об использовании: Мы можем собирать информацию о вашем взаимодействии с Приложением, такую как действия, совершаемые вами внутри приложения, даты и время ваших посещений, статистику использования и другую аналитику.

    2. Использование данных

    2.1. Мы используем ваши личные данные для следующих целей:
    Предоставление вам доступа к функциям и сервисам Приложения.
    Публикации ваших новостей и других материалов в Приложении.
    Отправки вам уведомлений и обновлений в связи с вашим аккаунтом и Приложением.
    Поддержки и обслуживания Приложения, включая обработку запросов и жалоб.
    Улучшения качества и функциональности Приложения.

    3. Раскрытие данных

    3.1. Мы можем раскрывать ваши личные данные следующим образом:
    Поставщикам услуг, которые помогают нам в предоставлении Приложения (например, хостинг, аналитика и обслуживание).
    По требованию судебных органов, правоохранительных органов или в случае соблюдения закона.
    В случае продажи или слияния нашей компании с другой компанией, ваша информация может быть передана новому собственнику.

    4. Сохранение данных

    Мы сохраняем ваши личные данные только в течение периода, необходимого для достижения целей, описанных в этой Политике, или в соответствии с применимым законодательством о защите данных.

    5. Защита данных

    Мы принимаем меры для обеспечения безопасности ваших данных, включая защиту от несанкционированного доступа, изменения, раскрытия или уничтожения данных. Однако ни один метод передачи данных через интернет или метод электронного хранения не является 100% надежным, и мы не можем гарантировать абсолютную безопасность ваших данных.

    6. Ваши права

    У вас есть право:
    Запросить доступ к вашим личным данным и их исправление. Отозвать ваше согласие на обработку данных (если применимо). Запросить удаление ваших личных данных. Ограничить обработку ваших данных. Передать ваши данные другому контролирующему лицу (переносимость данных).

    7. Изменения Политики конфиденциальности

    Мы оставляем за собой право вносить изменения в эту Политику. Любые изменения будут размещены на этой странице, и в случае существенных изменений мы уведомим вас об этом. Вам рекомендуется регулярно проверять данную Политику для ознакомления с обновлениями.

    8. Связь с нами

    Если у вас есть какие-либо вопросы, комментарии или запросы в отношении этой Политики, пожалуйста, свяжитесь с нами.

    NewsAppStudio
    Адрес компании
    newsapp.studio@gmail.com

</p>
</div>
@code {
    private string _background = "#18191D";
    private string _font = "#ffffff";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Application.Current.PlatformAppTheme != AppTheme.Dark)
        {
            _font = "#000000";
            _background = "#ffffff";
        }
    }
}
