<br />
<h3 style="text-align:center;">Соглашение об обработке персональных данных</h3>
<p style="text-align: justify; text-justify: auto; margin: 0 20px 0 10px; font-size:16px; white-space: pre-wrap;">
    Последнее обновление: 2.10.2023

    Настоящее Соглашение о обработке персональных данных (далее - "Соглашение") определяет условия и порядок обработки персональных данных пользователей (далее - "Пользователь" или "Вы") в рамках использования приложения (далее - "Приложение"), предоставляемого NewsAppStudio (далее - "Мы", "Наша компания" или "Мы").

    1. Согласие на обработку персональных данных

    1.1. Пользование Приложением подразумевает ваше согласие с условиями настоящего Соглашения и обработкой ваших персональных данных в соответствии с ним.
    1.2. Вы соглашаетесь предоставлять нам следующие персональные данные: Имя учётной записи. Электронный адрес (e-mail). Дата рождения, номер телефона - по желанию.
    1.3. При предоставлении данных пользователь гарантирует их достоверность и соглашается обновлять информацию при изменении.

    2. Цели обработки персональных данных

    2.1. Ваши персональные данные обрабатываются для следующих целей:
    Предоставление доступа к функционалу Приложения.
    Публикация ваших новостей и других материалов в Приложении.
    Отправка вам уведомлений и обновлений в рамках вашего аккаунта и Приложения.
    Поддержка и обслуживание Приложения, включая обработку запросов и жалоб.
    Улучшение качества и функциональности Приложения.

    3. Сроки обработки и хранения данных

    3.1. Ваши персональные данные обрабатываются до тех пор, пока они не перестанут быть необходимыми для достижения целей, указанных в разделе 2 настоящего Соглашения.
    3.2. Мы сохраняем ваши персональные данные только в течение периода, необходимого для выполнения целей, описанных в настоящем Соглашении, или в соответствии с применимым законодательством о защите данных.

    4. Передача данных третьим лицам

    4.1. Мы можем передавать ваши персональные данные третьим лицам в следующих случаях:
    Поставщикам услуг, которые помогают нам предоставлять и обслуживать Приложение (например, хостинг, аналитика и обслуживание).
    В случае необходимости соблюдения закона или на основании запроса судебных или правоохранительных органов.

    5. Защита персональных данных

    5.1. Мы предпринимаем меры для обеспечения безопасности ваших персональных данных, включая меры защиты от несанкционированного доступа, изменения, раскрытия или уничтожения данных. Однако ни один метод передачи данных через интернет или метод электронного хранения не является 100% надежным, и мы не можем гарантировать абсолютную безопасность ваших данных.

    6. Ваши права

    6.1. В рамках применимого законодательства о защите данных у вас есть право:
    Запросить доступ к вашим персональным данным и их исправление. Отозвать ваше согласие на обработку данных (если применимо). Запросить удаление ваших персональных данных. Ограничить обработку ваших данных. Передать ваши данные другому контролирующему лицу (переносимость данных).

    7. Изменения в Соглашении

    7.1. Мы оставляем за собой право вносить изменения в настоящее Соглашение. Любые изменения будут размещены на этой странице, и в случае существенных изменений мы уведомим вас об этом. Вам рекомендуется регулярно проверять данное Соглашение для ознакомления с обновлениями.

    8. Связь с нами

    Если у вас есть какие-либо вопросы, комментарии или запросы в отношении настоящего Соглашения или обработки ваших персональных данных, пожалуйста, свяжитесь с нами.

    NewsAppStudio
    Адрес компании
    newsapp.studio@gmail.com

</p>

@code {

}
