
<div style="background-color: @_background">
<h3 style="text-align:center; color: @_font; padding-top: 15px">Условия использования</h3>
<p style="text-align: justify; text-justify: auto; padding: 0 20px 0 10px; font-size:16px; white-space: pre-wrap; color: @_font ">
    Последнее обновление: 2.10.2023

    Пожалуйста, внимательно ознакомьтесь с настоящими Условиями использования (далее – "Условия"), прежде чем начать использовать наше приложение (далее – "Приложение"). При использовании Приложения вы соглашаетесь с настоящими Условиями и обязуетесь их соблюдать. Если вы не согласны с Условиями, пожалуйста, прекратите использование Приложения.

    1. Регистрация и аккаунт

    1.1. Для доступа к некоторым функциям Приложения может потребоваться регистрация аккаунта. Вы обязуетесь предоставить точную, актуальную и полную информацию при регистрации и обновлять ее при необходимости.
    1.2. Вы несете ответственность за сохранность вашего пароля и аккаунта, а также за все действия, совершенные с использованием вашего аккаунта.

    2. Правила использования

    2.1. Вы соглашаетесь использовать Приложение только в законных целях и соблюдать все применимые законы и правила.
    2.2. Запрещается:
    Размещение незаконного, вредоносного или оскорбительного контента. Вмешательство в работу Приложения или попытка взлома его безопасности. Использование Приложения для нежелательной почты, спама или рассылки нежелательных сообщений. Нарушение прав других пользователей или сторонних лиц.
    3. Интеллектуальная собственность

    3.1. Все права на содержание Приложения, включая текст, изображения, графику, аудио и видеоматериалы, принадлежат NewsAppStudio или другим правообладателям и защищены законами об интеллектуальной собственности.
    3.2. Вы соглашаетесь не воспроизводить, распространять, модифицировать, создавать производные работы или использовать содержание Приложения без предварительного письменного разрешения.

    4. Ответственность

    4.1. NewsAppStudio не несет ответственности за убытки, прямые или косвенные, связанные с использованием или невозможностью использования Приложения.
    4.2. NewsAppStudio не гарантирует, что Приложение будет работать без ошибок и прерываний, и не несет ответственности за возможные сбои в работе.

    5. Изменения и завершение

    5.1. NewsAppStudio оставляет за собой право вносить изменения в Условия в любое время. Изменения будут размещены на этой странице, и ваше продолжение использования Приложения означает ваше согласие с изменениями.
    5.2. NewsAppStudio также оставляет за собой право прекратить предоставление доступа к Приложению в любое время без предварительного уведомления.

    6. Контакты

    Если у вас есть какие-либо вопросы или комментарии к настоящим Условиям, свяжитесь с нами.

    NewsAppStudio
    Адрес компании
    newsapp.studio@gmail.com

</p>
</div>
@code {
    private string _background = "#18191D";
    private string _font = "#ffffff";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if(Application.Current.PlatformAppTheme != AppTheme.Dark)
        {
            _font = "#000000";
            _background = "#ffffff";
        }
    }
}
